<div ng-controller="FlashcardCtrl">
    <div layout="column" layout-align="center center" ng-show="!loadedWords">
        <md-button class="accent-color text-primary-color" style="padding: 12px 48px 12px 48px;" ng-model="wordsFile" ngf-select ngf-multiple="false" accept="text/*">Open words file (.txt)</md-button>
        <span class="secondary-text-color md-body-1" style="margin-top: 24px; max-width: 260px; text-align: justify;">Choose a text file containing the words for which the flashcards need to be generated.</span>
        <span class="secondary-text-color md-body-1" style="margin-top: 24px; max-width: 260px; text-align: justify;">Sample <span class="md-caption">words.txt</span> file:</span>
        <span class="secondary-text-color md-body-1" style="margin-top: 24px; max-width: 260px; text-align: justify;">Akimbo<br>Avarice<br>Serendipitous<br></span>
    </div>
    <div layout="column" layout-align="center" ng-show="loadedWords">
        <div flex layout="row" layout-align="center center">
            <div flex="10"></div>
            <div class="column">
                <span class="md-body-1 secondary-text-color">Words to review</span>
                <br>
                <span class="md-body-1 secondary-text-color">{{stats.review}} of {{numOfWords}}</span>
            </div>
            <div flex="10"></div>
            <div class="column">
                <span class="md-body-1 secondary-text-color">Words I know</span>
                <br>
                <span class="md-body-1 secondary-text-color">{{stats.known}} of {{numOfWords}}</span>
            </div>
            <div flex="10"></div>
            <div class="column">
                <span class="md-body-1 secondary-text-color">Words not yet seen</span>
                <br>
                <span class="md-body-1 secondary-text-color">{{stats.unseen}} of {{numOfWords}}</span>
            </div>
            <div flex="10"></div>
        </div>
        <div flex layout="column" layout-align="center center" style="margin-top: 48px; width: 100%;">
            <div class="flashcard-container" ng-show="!done">
                <md-card id="flashcard" class="flashcard">
                    <span class="flashcard-word md-display-3 secondary-text-color" ng-show="!current.showMeaning">{{current.word}}</span>
                    <div class="flashcard-meaning" ng-show="current.showMeaning" ng-bind-html="current.definition"></div>
                </md-card>
                <md-button class="flashcard-button md-button md-raised default-primary-color text-primary-color" ng-click="nextWord(false)" ng-show="!current.addToReview">I know this word!</md-button>
                <md-button class="flashcard-button md-button md-raised default-primary-color text-primary-color" ng-click="nextWord(true)" ng-show="current.addToReview">Next</md-button>
                <md-button class="flashcard-button md-button md-raised dark-primary-color text-primary-color" ng-click="showMeaning()" ng-show="!current.showMeaning">I want to review the definition</md-button>
                <md-button class="flashcard-button md-button md-raised accent-color text-primary-color" ng-click="showWord()" ng-show="current.showMeaning">Show me the word again</md-button>
            </div>
        </div>
    </div>
</div>